<!-- Author Lucas Lança
    Página que mostra que o cadastro foi feito com sucesso -->
<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Página De Sucesso </title>
    <link rel="shortcut icon" href="../img/icon.jpg">
    <meta name="author" content="Lucas Lança">
    <meta name="description" content="Trabalho Final">
    <meta name="keywords" content="PHP, HTML, CSS, bootstrap, js">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="../css/estilo.css">
  </head>
  <body>
    <main>
      <header class="jumbotron">
        <h1 class="text-center"> Resultado: </h1>
      </header>
        <section class="container text-center">
          <h3> Cadastrado com sucesso </h3>
          <hr>
          <a class="btn btn-dark" href="cadastro.php"> Voltar para formulário </a>
          <a class="btn btn-dark" href="buscarpessoas.php">Vizualizar Usuários</a>
        </section>
        <br>
        <section class="container text-center">
          <img src="../img/meme2.jpg" alt="meme de numero 2">
        </section>

        <footer class="navbar-fixed-bottom rodape">
            <span>Todos direitos &copy; reservados a Lucas Lança</span>
        </footer>
    </main>
  </body>
</html>
